---
import BaseLayout from '~/layouts/BaseLayout.astro';
---

<BaseLayout title="about" description="about mikael ristmets.">
  <article class="container">
    <h1>about</h1>
    <div class="prose">
      <p>
        mina usun, et arhitektuur pole üksnes ruumikujundamise tööriist,
        vaid ka ühiskonna, misläbi on võimalik luua paremat elu kõigile.
      </p>
      <p>
        architecture is not just something we use to design the space
        around us, but something that also shapes society, which allows
        for the creation of better lives for everyone.
      </p>
    </div>
  </article>
</BaseLayout>

<style>
  h1 {
    font-size: var(--fs-lg);
    margin-bottom: var(--sp-5);
  }
</style>
