---
import BaseLayout from '~/layouts/BaseLayout.astro';
---

<BaseLayout title="contact" description="how to get in touch.">
  <article class="container">
    <h1>contact</h1>
    <div class="prose">
      <p><a href="mailto:mikael.ristmets@gmail.com">mikael.ristmets@gmail.com</a></p>
      <p><a href="tel:+3725181279">+372 518 1279</a></p>
      <p><a href="https://soundcloud.com/mikzor" rel="me noopener" target="_blank">soundcloud</a></p>
    </div>
  </article>
</BaseLayout>

<style>
  h1 {
    font-size: var(--fs-lg);
    margin-bottom: var(--sp-5);
  }
</style>
